<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label for="serverName">Server Name</label>
    <!-- <input
      id="serverName"
      type="text"
      class="form-control"
      [(ngModel)]="newServerName"
      
    /> -->
    <input
      id="serverName"
      type="text"
      class="form-control"
      [(ngModel)]="newServerName"
      #serverNameInput
    />
    <!-- <label for="serverContent">Server Content</label>
    <input
      id="serverContent"
      type="text"
      class="form-control"
      [(ngModel)]="newServerContent"
      #serverContentInput
    /> -->
    <label for="serverContent">Server Content</label>
    <input
      id="serverContent"
      type="text"
      class="form-control"
      #serverContentInput
    />
    <br />
    <button class="btn btn-primary cockpit-btn" (click)="onAddServer(serverNameInput.value)">
      Add Server
    </button>
    <button class="btn btn-primary cockpit-btn" (click)="onAddBlueprint(serverNameInput.value)">
      Add Server Blueprint
    </button>
  </div>
</div>
